@import "tailwindcss";

@theme {
  --color-main: #4e04fb;
  --color-secondary: #1b1a41;
}
:root {
  --main-color: #4e04fb;
}
body {
  font-family: "Outfit", sans-serif;
}

.main-title {
  @apply text-4xl text-[#253D4E] mb-10;
}
.custom-box-shadow {
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}

.dot-loader {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.dot-loader span {
  width: 5px;
  height: 5px;
  background-color: white;
  border-radius: 50%;
  animation: bounce 0.9s infinite alternate;
}

.dot-loader span:nth-child(2) {
  animation-delay: 0.3s;
}

.dot-loader span:nth-child(3) {
  animation-delay: 0.6s;
}

@keyframes bounce {
  0% {
    transform: translateY(0);
    opacity: 0.5;
  }
  100% {
    transform: translateY(-10px);
    opacity: 1;
  }
}

.slick-prev,
.slick-next {
  z-index: 10;
  width: 2rem !important;
  height: 2rem !important;
  background-color: #4e04fb !important;
  color: white !important;
  border-radius: 50%;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}

.statistics .box:hover {
  border-color: var(--main-color);
}

.statistics .box:hover h2 {
  color: white;
}

.statistics .box:hover p {
  color: white;
}
.statistics .box:hover i {
  background-color: white;
}
.statistics .box:hover > div {
  background: rgba(255, 255, 255, 0.4);
}
.box:hover
{
  background-color: var(--main-color);
}
.box:hover i
{
  color: white;
}
.box:hover .icon-box
{
  background-color: var(--main-color);
}