@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --main-color: #4e04fb;
  --secondary-color: #1b1a41;
}
.main-bg {
  background-color: var(--main-color);
}
.main-title {
  @apply text-[#253D4E] text-4xl mb-8;
}
.custom-box-shadow {
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}

.slick-dots.slick-thumb {
  display: flex !important;
  justify-content: center;
  gap: 10px;
  bottom: 0px;
  position: relative;
}

.slick-dots.slick-thumb li {
  width: auto !important;
  height: auto !important;
}

.slick-dots.slick-thumb li img {
  width: 80px;
  height: 80px;
  object-fit: cover;
  border-radius: 6px;
  border: 2px solid transparent;
  transition: all 0.3s ease;
}

.slick-dots.slick-thumb li.slick-active img {
  border-color: var(--secondary-color);
}
